# ignore .sqlite3
*.sqlite3

# ignore .DS_Store
*.DS_Store

# ignore binary files 
__pycache__/

# ignore external source file
.idea/
*.xml

# ignore media files
# ignoring media files will cause some problems passing test cases, 
# therefore it is not a good idea to ignore them
# images/
# media/

# ignore auto generated scripts
migrations/

# ignore auto test scripts 
rango/decorators.py
rango/test_utils.py
rango/tests_chapter7.py
rango/tests_chapter8.py
