{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About Rango
{% endblock %}

{% block body_block %}
    <h1>About Rango</h1>
    <p>This tutorial has been put together by Yuki.</p>
    <img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" /><br/>
    <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of cat"/>
    {% if visits %}
        <p> You visited Rango visits: {{ visits }} times!</p>
    {% else %}
        <p> No cookies found QAQ </p>>
    {% endif %}
{% endblock %}

<!--- Code Pre C8>
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<div>
    <p>This tutorial has been put together by Yuki.</p>
</div>

<div>
    <a href="/rango/">Back</a><br/>
    <img src="{% static "images/rango.jpg" %}" alt="Picture of Rango"/>

</div>

<div>
    <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of cat"/>

</div>
</body>
</html>
-->
